@import url(null.css);
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: ghostwhite;
    font-size: 16px;
    line-height: 24px;
    background-color: #1e3b3b;
}

h1 {
    font-size: 40px;
    line-height: 1;
    margin: 0px 0px 50px 0px;
    text-align: center;
}
body.lock {
    overflow: hidden;
}
.wrapper {
    display: grid;
    min-height: 100%;
    grid-template: minmax(100px,auto) 1fr minmax(70px,auto)/1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    position: relative;
    top:0;
    left: 0;
    z-index: 50;
    padding: 15px;
    background-color: cadetblue;
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
}
/*
.header:before{
    content: '';
    position: relative;
    background-color: cadetblue;
    height: 105px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}*/

.logo {
    z-index: 3;
    margin: 0 0 0 15px;
    background-color: #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
}
.logo__text {
    text-transform: uppercase;
    color: black;
    transform: translate(-50%,0);
    padding: 0 0 0 100%;
}

.menu {
    z-index: 3;
    grid-column:  3/4;
    justify-self: right;
}
.menu__burger {
    width: 22px;
    position: relative;
    z-index: 3;
}
.menu__burger span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 7px 0;
}
.menu__burger:before,.menu__burger:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
}

.menu__list {
    position: fixed;
    top: -100px;
    display: block;
    margin: 0 0 15px 0;
    transition: all 0.3s ease 0s;
    left: 0;
}

.menu__list.active {
    top: 100px;
    z-index: 2;
    min-height: 100%;
    /* margin: 0 0 15px 0; */
    left: 0;
    min-width: 100%;
    background-color: #9aa2a2;
    padding: 0 20px;
}
menu__list.active li {
    visibility: visible;
}

.menu__list a {
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}

.main {
     padding: 30px 15px;
}

.side {
    padding: 20px;
    grid-column: 2 / 3;
    background-color: #5f7070;
    margin: 0 0 30px 0;
}

.side__menu li {
    text-align: center;
    margin: 0 0 15px 0;
}
.side__menu a {
    text-decoration: none;
    color: ghostwhite;
}

.content {
    grid-column: 3 / 4;

}
.content h2 {
    font-size: 30px;
    line-height: 1;
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.content img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.gallery {
    margin: 0 0 40px 0;
}

.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.gallery__item {
    padding: 0 0 85% 0;
    position: relative;
}


section.goods {

}
.goods__wrap {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.goods__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.item__img {
    position: relative;
    padding: 0 0 90% 0;

    margin: 0 0 20px 0;
}
.item__title {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin: 0px 0px 30px 0px;
}
a.item_buy {
    background-color: #4d8787;
    padding: 0px 30px;
    line-height: 40px;
    color: ghostwhite;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
    justify-self: start;
}

.footer {
    padding: 15px;
    grid-area: footer;
    background:linear-gradient(to top right, #7d7a7a, #1e3b3b);
    display: grid;
    grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
    align-items: center;
}
.footer_copy {
    grid-column: 2 / 3;
}
.footer_text {
    grid-column: 3 / 4;
    justify-self: end;
}

@media(min-width: 650px) {

.gallery__item.gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
}
}
@media(min-width: 870px) {
    .content h2 {
        text-align: left;
    }
    h1 {
        text-align: left;
    }
    .menu {
        justify-self: inherit;
    }
    .menu__burger {
        display: none;
    }
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        position: inherit;
        margin: 0;
    }
    .menu__list.active {
        background-color: inherit;
    }
    .menu__list li {
        margin: 0 0 0 20px;
    }
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto,200px) minmax(auto,1200px) 1fr;
        padding: 50px 15px;
    }
    .side {
        margin: 0;
    }
    .content {
          padding: 0 0 0 30px;
      }
}

@media(min-width: 1150px) {
    .main {
        grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
    }
   }
